* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.link a {
  color: gray;
  text-decoration: none;
}

.visit a,
.code a,
.tech-disc a {
  color: #000;
  text-decoration: none;
}

.visit a:visited,
.code a:visited,
.tech-disc a:visited {
  color: #000;
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

li {
  list-style-type: none;
}

.header {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items:center;
  z-index: 100;
  position: fixed;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #000;
  -webkit-box-shadow: -1px 11px 7px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 11px 7px -9px rgba(0, 0, 0, 0.75);
}

.logo {
  width: 80%;
  height: auto;
  color: #fff;
  padding: 15px 31px;
  text-transform: uppercase;
  font-size: 18px;
}

.scrolled header {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav {
  width: 100%;
}

ul {
  width: 95%;
  margin: 0 auto;
  text-align: right;
  left: -40px;
  position: relative;
  padding: 1px;
}

ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0px 6px;
  color: #fff;
  font-size: 18px;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
  text-transform: uppercase;
  cursor: pointer;
}

ul li:nth-child(5) { /* Wyłączenie z listy Github na większej niż mobile */
	display:none;
}

ul li:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

ul li a {
  color: #fff;
  text-decoration: none;
}

.nav-ico {
  display: none;
}

.toggle {
  width: 20%;
  padding: 7px 20px;
  text-align: right;
  color: white;
  display: none;
  margin-top: 2px;
  cursor: pointer;
  font-size: 40px;
}

.light {
  color: #000;
}

.about {
  width: 100%;
  height: 100vh;
  background-image: url("img/about.png");
  -webkit-box-shadow: 1px 10px 50px -29px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 10px 50px -29px rgba(0, 0, 0, 0.75);
  background: linear-gradient(250deg, #5f1f61, #091c76, #642579, #240cad);
  background-size: 800% 800%;
  -webkit-animation: gradient 32s ease infinite;
  animation: gradient 32s ease infinite;
}

.information {
  width:100%;
  height:100vh;
  display:flex;
  justify-content:flex-end;
  align-items:flex-start;
  flex-direction:column;
  padding:100px 230px;
}

.motto {  
  text-transform: uppercase;
  position: relative;
  bottom: 110px;
  color: #fff;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  line-height: 38px;
  padding: 0 30px;
}

.me {
  color: #fff;
  position: relative;
  bottom: 110px;
  line-height: 25px;
  padding: 0 30px;
}

.me-color {
  color: #2972b5;
  font-weight: bold;
}

.more {
  position: relative;
  bottom: 110px;
  width: 200px;
  height: 40px;
  border: 1px solid #fff;
  color: #fff;
  background: none;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  margin-left: 30px;
  border-radius:5px; 
}

.more:hover {
  background-color: #274ac1;
  border: none;
}

.head-technology {
  font-size: 32px;
  text-align: right;
  padding: 0 30px 50px 0;
  margin-top: 40px;
  font-weight: bold;
}

.technology {
  width: 84%;
  height: auto;
  margin-top: 55px;
  margin-left: 8%;
  margin-right: 8%;
}


.technology-container {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.technology-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0;
  width: 33.3333333%;
}

.tech-img {
  width: 120px;
  height: 120px;
  cursor:pointer;
}

.tech-disc {
	display:none;
	text-align: center;
	margin-top:20px;
	font-size:18px;
	animation-name:discShow;
	animation-duration:.3s;
}

.bold {
 	font-weight:bold;
 }
 
.tech-active {
 	display:flex;
 	flex-direction:column;
 }

.head-portfolio {
  font-size: 32px;
  text-align: left;
  overflow: hidden;
  padding: 50px 30px;
  margin-top: 40px;
  font-weight: bold;
}

.box {
  height: auto;
  overflow: hidden;
}

.portfolio {
  width: 100%;
  height: auto;
  margin-top:30px;
}

.portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.port-box {
  padding: 50px 0;
}

.portfolio-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.port-img {
  width: 420px;
  height: 200px;
  border-radius: 10px;
  cursor: pointer;
  background-position: center;
}

.project {
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.port-time {
	font-size:15px;
	margin-top:11px;
}

.port-disc {
  margin-top: 5px;
  font-size:17px;
  text-align:center;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  margin: 20px;
}

.button-margin {
  padding: 7px;
}

.visit {
  margin-top: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  outline: none;
  border: 2px solid #000;
  width: 100px;
  height: 30px;
  color: #000;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

.code {
  margin-top: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  outline: none;
  border: 2px solid #000;
  width: 100px;
  height: 30px;
  color: #000;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

.visit:hover {
  -webkit-transform: scale(1.09);
   transform: scale(1.09);
}

.code:hover {
  -webkit-transform: scale(1.09);
   transform: scale(1.09);
}

.head-contact {
  font-size: 32px;
  text-align: right;
  overflow: hidden;
  padding: 30px;
  font-weight: bold;
}

.contact {
  width: 100%;
  height: auto;
  margin-top:15px;
  background-color: #FFF0F7;
  padding: 150px 0px;
  background: linear-gradient(253deg, #4c56e8, #b01cbe);
  background-size: 400% 400%;
  -webkit-animation: contact-gradient 10s ease infinite;
  animation: contact-gradient 10s ease infinite;
  -webkit-box-shadow: 1px 17px 45px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 17px 45px 0px rgba(0, 0, 0, 0.75);
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact-box {
  width: 300px;
  height: 295px;
  background-color: #fff;
  margin: 30px;
  margin-top: 55x;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.contact-box:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.background {
  background: #303030;
  width: 100%;
  height: 125px;
  text-align: center;
}

.link-name {
  text-transform: uppercase;
  color: #000;
  text-align: center;
  margin-top: 25px;
  padding: 15px 0;
}

.link {
  width: 100%;
  height: 125px;
  color: gray;
  text-align: center;
}

.fa-envelope,
.fa-facebook,
.fa-discord {
  color: #fff;
  margin-top: 30px;
  font-size:52px;
}

.footer {
  width: 100%;
  height: auto;
  background: #303030;
  -webkit-box-shadow: 1px 17px 35px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 17px 35px 0px rgba(0, 0, 0, 0.75);
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px 35px;
}

.author {
  color: #fff;
  margin-top: 8px;
}

.fa-github {
  color: #fff;
  margin-top:3px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
 font-size:28px;
}

.fa-github:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#scrollUp {
	width:40px;
	height:40px;
	bottom:0;
	right:0;
	position:fixed;
	background:#f1f1f1;
	margin-bottom:20px;
	margin-right:20px;
	cursor:pointer;
	display:flex;
	align-items:center;
	justify-content: center;
	border-radius:100px;
	webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
	transform:scale(.8);
	transition:transform .4s ease;
}

#scrollUp.show {
	transform:scale(1);
}

.fa-caret-up {
	font-size:30px;
	color:#000;
}

@media (max-width: 768px) {
  .toggle {
    display: block;
  }

  .fa-code, .fa-folder-open, .fa-phone {
    padding: 0 30px;
    font-size: 23px;
    margin-top: -40px;
  }

  .fa-user-circle {
    padding: 0 33px;
    font-size: 23px;
    margin-top: -40px;
  }
  
  .active {
    display: -webkit-box; 
    display: -ms-flexbox;
    display:flex;
  }
  
  ul {
    width: 100%;
    display: none;
    height: 100vh;
    position: relative;
    padding: 0px;
    left: 0;
    background-color: #f1f1f1;
    -webkit-box-shadow: 0px 8px 30px -30px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 8px 30px -30px rgba(0, 0, 0, 0.75);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
	animation-name:ulShow;
	animation-duration:.5s;
  }
  ul li {
    display: block;
    text-align: left;
    padding: 20px 25px;
    color: #000;
    height: 60px;
    font-size: 20px;
  }
  
  ul li:nth-child(5) {
  	display:block;
  	position:absolute;
  	bottom:0;
  	margin-bottom:40px;
  	font-weight:bold;
  	animation-name:github;
  	animation-duration:.6s;
  }
  
  ul li:hover {
    border: none;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    background: none;
    font-weight: bold;
  }
  
  ul li a {
    color: #000;
  }
  
  .nav {
    position: absolute;
  }
  
  .about {
    background-position: center;
  }
  
  .head-technology {
    text-align: center;
    margin-top: 40px;
    padding:20px;
  }
  
  .head-portfolio {
  	text-align:center;
  	margin-top:20px;
  }
  
  .head-contact {
  	margin-top: 10px;
  	text-align: center;
  }
  
  .technology {
    width: 100%;
    height: auto;
    margin-top: 55px;
    margin-left: 0;
    margin-right: 0;
  }
  
  .technology-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .technology-element {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 45px;
  }

  .port-disc {
    padding: 0 25px;
  }
  
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    width: 100%;
  }
  .portfolio-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .portfolio-element {
    padding: 30px 0;
  }
  
  .port-box {
    padding: 5px 0;
  }
  
  .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-box:nth-child(1) {
    margin-top: 70px;
  }
  
  .footer-container {
    display: block;
    padding: 10px 20px;
  }
  
  .fa-github {
    margin-top: 14px;
  }
  
  .contact {
    padding: 80px 0px;
  }
  
  .logo {
    padding: 15px 25px;
  }
   
  .head-portfilio-border {
  	width:180px;
  	height:3px;
  	background-color:#000;
  	margin:0 auto;
  	margin-top:-30px;
  }

  .header {
    align-items:stretch;
  }
  
}


@media (max-width: 604px) {
  .nav a {
    color: #000;
  }
  .logo {
    width: 800px;
    padding: 15px;
  }
  .motto, .me {
    padding: 0 15px;
  }
  .more {
    margin-left: 15px;
    bottom: 30px;
  }
  .me {
    bottom: 50px;
  }
  .motto {
    bottom: 70px;
  }
  ul li {
    font-size: 20px;
  }
  .port-img {
    width: 320px;
    height:170px;
  }
}

@media (min-width: 1200px) {
  .port-box {
    padding: 80px;
   }
   .motto {
   	font-size:33px;
   }
   .me {
    font-size:17px;
   }
}

@media (max-width: 1200px) {
  .port-box {
    padding: 20px;
  }
  
  .information {
    justify-content:flex-end;
  }

    .motto,
    .me {
      padding:0 30px;
      position: relative;
      bottom: 110px;
    }
  
    .more {
      margin-left:30px;
      position: relative;
      bottom: 110px;
    }
  
    .information {
      padding:0;
    }
}

@media (max-width: 526px) {
  .logo {
    padding: 15px;
  }
}

@media (max-width: 486px) {
  .logo {
    padding: 15px 10px;
  }
}

@media (min-width: 769px) {
  .logo {
    padding: 15px 25px;
  }
}

@media (max-width: 769px) {
  .motto {
    bottom: 75px;
    padding:0 15px;
  }
  .me {
    bottom: 65px;
    padding:0 15px;
  }
  .more {
    bottom: 45px;
    margin-left:15px;
  }
}

@media (min-width: 600px) {
  .more {
    bottom: 50px;
  }
}

@media (max-height:400px) {
	.information {
		top:60px;
		position:relative;
	}
	.more {
		bottom:90px; 
	}
}

@keyframes gradient {
  0% {
    background-position: 0% 67%;
  }
  50% {
    background-position: 100% 34%;
  }
  100% {
    background-position: 0% 67%;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 67%;
  }
  50% {
    background-position: 100% 34%;
  }
  100% {
    background-position: 0% 67%;
  }
}

@keyframes discShow {
	0% {
		transform:scale(.8);
	}
	100%{
		transform:scale(1);
	}
}

@-webkit-keyframes discShow {
	0% {
		transform:scale(.8);
	}
	100%{
		transform:scale(1);
	}
}

@keyframes contact-gradient {
  0% {
    background-position: 72% 0%;
  }
  50% {
    background-position: 29% 100%;
  }
  100% {
    background-position: 72% 0%;
  }
}

@-webkit-keyframes contact-gradient {
  0% {
    background-position: 72% 0%;
  }
  50% {
    background-position: 29% 100%;
  }
  100% {
    background-position: 72% 0%;
  }
}

@keyrames ulShow {
  0% {
    background:none;
  }
  50% {
    transform:scale(1.1);
  }
  100% {
    background-color:#f1f1f1;
    transform:scale(1);
  }
}

@-webkit-keyframes ulShow {
  0% {
    background:none;
  }
  50% {
    transform:scale(1.1);
  }
  100% {
    background-color:#f1f1f1;
    transform:scale(1);
  }
}

@keyframes github {
	0% {
		transform:translateY(1000px);
	}
	100% {
		transform:translateY(0px);
	}
}

@-webkit-keyframes github {
	0% {
		transform:translateY(1000px);
	}
	100% {
		transform:translateY(0px);
	}
}